{{#if all}}
<h3 class="is-size-4">All responses</h3>
{{else}}
<h3 class="is-size-4">Responses by {{username}}</h3>
{{/if}}
<div id="all-responses" class="m-2">
    <p class="m-1">Sort by:</p>
    <div class="columns m-1">
        <button class="sort button is-primary m-1" data-sort="username">Username</button>
        <button class="sort button is-primary m-1" data-sort="date">Date</button>
        <button class="sort button is-primary m-1" data-sort="upvotes">Upvotes</button>
        <input type="text" class="search input m-1" placeholder="Search" />
    </div>
    <ul class="list">
        {{#each output as |res|}}
        <li class="box m-1">
            <p class="mb-1">{{res.content}}</p>
            <p class="username mb-1">By {{res.user.username}}</p>
            <p class="date mb-1">Posted on {{format_date res.date}}</p>
            <p class="upvotes mb-1">{{res.upvotes}} upvotes</p>
            <button class="button delete-response" data-id={{res.id}}>Delete</button>
        </li>
        {{/each}}
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="/js/adminResponses.js"> </script>
