
{{#if all}}
<h1 class="title has-text-centered has-text-white">All responses</h1>
{{else}}
<h1 class="title has-text-centered has-text-white">Responses by {{username}}</h1>
{{/if}}
<div id="all-responses" class="m-2">

     <div class="columns m-1" style="width: 400px;">
    <div class="dropdown my-2" id="dropdown2">
     <div class="dropdown-trigger">
        <button class="button is-white has-text-info" aria-haspopup="true" aria-controls="dropdown-menu">
      <strong><span>Sort By</span></strong>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
     </div>   
     <div class="dropdown-menu" id="dropdown-menu" role="menu">
<div class="dropdown-content">
<a class="dropdown-item sort is-primary m-1" data-sort="username">Username</a>
<a class="dropdown-item sort is-primary m-1" data-sort="date">Date</a>
<a class="dropdown-item sort is-primary m-1" data-sort="upvotes">Upvotes</a>
</div>
    </div>
    </div>
    <div class="field">
        <div class="control">
        <input type="text" class="search input m-1" placeholder="Search" />
        </div>
    </div>
    </div>


    <ul class="list">
        {{#each output as |res|}}
        <li class="box m-1">
            <p class="mb-1">{{res.content}}</p>
            <p class="username mb-1">By {{res.user.username}}</p>
            <p class="date mb-1">Posted on {{format_date res.date}}</p>
            <p class="upvotes mb-1">{{res.upvotes}} upvotes</p>
            <button class="button delete-response" data-id={{res.id}}>Delete</button>
        </li>
        {{/each}}
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="/js/adminResponses.js"> </script>
