{{#if all}}
<h3 class="is-size-4 title">All Posts</h3>
{{else}}
<h3 class="is-size-4 title">Posts by {{username}}</h3>
{{/if}}
<div id="all-posts" class="m-2">
    <!-- <input type="text" class="search input" placeholder="Search" /> -->
    <!-- <button class="sort button" data-sort="title">Sort by title</button> -->
    <!-- <button class="sort button" data-sort="username">Sort by username</button> -->
    <!-- <button class="sort button" data-sort="date">Sort by date</button> -->
    <ul class="list">
        {{#each output as |post|}}
        <li class="box m-1">
            <p class="title mb-2 is-size-5">{{post.title}}</p>
            <p class="username">By {{post.user.username}}</p>
            <p class="mb-1">{{post.content}}</p>
            <p class="date mb-1">Posted on {{format_date post.date}}</p>
            <p class="mb-1">{{post.comments}} comments</p>
            <button class="button delete-post" data-id="{{post.id}}">Delete</button>
        </li>
        {{/each}}
    </ul>
</div>
<script src="/js/adminPosts.js"> </script>
