<div>
{{#if logged_in}}
<h1 class="title has-text-centered has-text-white">Hello {{user.username}}</h1>
<section>
<div class="card">
<div class="card-content">
<div class="content">
<h1 class="has-text-centered has-text-danger-dark">Create New Post</h1>
<form class="create-post-form">
<div class="field">
<label for="post-title"><strong>Title</strong></label>
<input type="text" id="post-title" name="post-title" placeholder="Enter Title"/>
</div>
<div class="field">
<label for="post-text"><strong>Text</strong></label>
<textarea id="content" name="content" placeholder="Share Your Story"></textarea>
</div>
<div class="field">
<div class="control">
<button class="post-btn button is-info has-text-white">Create</button>
</div>
</div>
</form>
</section>
{{/if}}
{{#if posts.length}}
<section>
    <div class="card my-5">
    <div class="card-content">
    <div class="content">
    <ol>
    <h1 class="has-text-centered has-text-danger-dark">My Posts</h1>
    {{#each posts as |post|}}
    <li>
            {{!-- {{> post-info post}} --}}
    <div class="mb-3">
    <a class="mr-3" href="/posts/{{post.id}}">{{post.title}}</a>
    <a href="/dashboard/edit-post/{{post.id}}" class="edit-link"><button class="has-text-white is-info button">Edit Post</button></a>
    </div>
    <div>
    <button class="delete-post-btn button has-text-white is-info" data-id="{{post.id}}">Delete Post</button>
    </div>
    </li>
    {{/each}}
    </ol>
    </div>
    </div>
    </div>
</section>

<section>
<div class="card my-5">
<div class="card-content">
<div class="content">
<h1 class="has-text-centered has-text-danger-dark">My Responses</h1>
<ol>
{{#each responses as |response|}}
<li>
<p class="response">{{response.content}}</p>
<p>Responding to post {{response.post.title}}</p>
<a href="/dashboard/response-edit/{{response.id}}" class="edit-link"><button class="has-text-white is-info button mb-3">Edit Response</button></a>
<div>
<button class="delete-post-btn button has-text-white is-info" data-id="{{response.id}}">Delete Response</button>
</div>
</li>
{{/each}}
</ol>
</div>
</div>
</div>
</section>
{{/if}}
</div>
<script src="/js/create-post.js"></script>