<div>
<h1>Hello, {{username}}</h1>
<section>
    <h2>Create New Post</h2>
    <div class="create-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-text">Text</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <button class="post-btn">Create</button>
    </div>
</section>
{{#if posts.length}}
<section>
    <h2>My Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{!-- {{> post-info post}} --}}
            <a href="/posts/{{post.id}}">{{post.title}}</a>
            <a href="/dashboard/edit-post/{{post.id}}" class="edit-link"><button>Edit Post</button></a>
            <div>
                <button class="delete-post-btn" data-id="{{post.id}}">DELETE POST</button>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
<br>
<section>
    <h2>My Responses</h2>
    <ol>
        {{#each responses as |response|}}
        <li>
            <p class="response">{{response.content}}</p>
            <p>Responding to post {{response.post.title}}</p>
            <a href="/dashboard/response-edit/{{response.id}}" class="edit-link"><button>Edit Response</button></a>
            <div>
                <button class="delete-post-btn" data-id="{{response.id}}">DELETE RESPONSE</button>
            </div>
        </li>
        {{/each}}
</section>
{{/if}}
</div>
<script src="/js/create-post.js"></script>
