{{!-- {{> post}} --}}
{{!-- {{#if loggedIn}} --}}
<form id="edit-response-form" class="edit-response-form">
    <div> 
        <h1>{{response.post.title}}</h1>
        <p>{{response.post.content}}</p>
        {{!-- <div>
            {{response.content}}
        </div> --}}
        <textarea name="response-content">{{response.content}}</textArea>
    </div>

    <div>
        <button type="submit">Edit Response</button>
    </div>
    <div>
        <button class="delete-response-btn" data-id="{{response.id}}">DELETE RESPONSE</button>
    </div>
    
</form>

{{!-- {{/if}} --}}

{{!-- {{> comments post.comments}} --}}
<script src="/js/edit-response.js"></script>
<script src="/js/create-post.js"></script>

