{{!-- {{> post}} --}}
{{!-- {{#if loggedIn}} --}}
<form id="edit-response-form" class="edit-response-form">
    <div> 
        <h1>{{response.post.title}}</h1>
        <p>{{response.post.content}}</p>
        {{!-- <div>
            {{response.content}}
        </div> --}}
        <textarea class="textarea" name="response-content">{{response.content}}</textArea>
    </div>

    <div>
        <button class="button m-1" type="submit">Save Response</button>
    </div>
    <div>
        <!-- <button class="button delete-response-btn m-1" data-id="{{response.id}}">Delete Response</button> -->
    </div>
    
</form>

{{!-- {{/if}} --}}

{{!-- {{> comments post.comments}} --}}
<script src="/js/edit-response.js"></script>
<script src="/js/create-post.js"></script>

